USE [master]
GO
/****** Object:  Database [HS]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE DATABASE [HS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HS]
GO
/****** Object:  Table [dbo].[SymptomLogs]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymptomLogs](
	[SymptomLogID] [int] IDENTITY(1,1) NOT NULL,
	[LogID] [int] NOT NULL,
	[SymptomID] [int] NOT NULL,
	[Severity] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SymptomLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenstrualLogs]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenstrualLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[CycleID] [int] NULL,
	[LogDate] [date] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[IsActualPeriod] [bit] NULL,
	[FlowIntensity] [nvarchar](20) NULL,
	[Mood] [nvarchar](20) NULL,
	[Temperature] [float] NULL,
	[Symptoms] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenstrualCycles]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenstrualCycles](
	[CycleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[CycleLength] [int] NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
	[UpdatedAt] [date] NULL,
	[periodDay] [date] NULL,
	[AverageCycleLength] [float] NULL,
	[PeriodDuration] [int] NULL,
	[AveragePeriodDuration] [float] NULL,
	[IsRegular] [bit] NULL,
	[NextPredictedPeriod] [date] NULL,
	[FertilityWindowStart] [date] NULL,
	[FertilityWindowEnd] [date] NULL,
	[OvulationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CycleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Symptoms]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Symptoms](
	[SymptomID] [int] IDENTITY(1,1) NOT NULL,
	[SymptomName] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SymptomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SymptomName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MenstrualDataWithSymptoms]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. Create a view for easy querying of menstrual data with symptoms
CREATE VIEW [dbo].[vw_MenstrualDataWithSymptoms] AS
SELECT
    ml.LogID,
    ml.LogDate,
    ml.IsActualPeriod,
    ml.FlowIntensity,
    ml.Mood,
    ml.Temperature,
    ml.Notes,
    mc.UserID,
    mc.CycleID,
    s.SymptomName,
    sl.Severity as SymptomSeverity,
    sl.Notes as SymptomNotes
FROM MenstrualLogs ml
LEFT JOIN MenstrualCycles mc ON ml.CycleID = mc.CycleID
LEFT JOIN SymptomLogs sl ON ml.LogID = sl.LogID
LEFT JOIN Symptoms s ON sl.SymptomID = s.SymptomID
WHERE mc.IsDeleted = 0 OR mc.IsDeleted IS NULL;
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[consultant_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCategories]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
	[UpdatedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPost_Categories]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPost_Categories](
	[post_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[PublishedAt] [date] NULL,
	[IsPublished] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[UpdatedAt] [date] NULL,
	[CreatedAt] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[BookingDate] [datetime2](7) NULL,
	[TimeSlotID] [int] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Result] [nvarchar](500) NULL,
	[ResultDate] [date] NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
	[ScheduleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ConsultantID] [int] NULL,
	[QuestionText] [nvarchar](1000) NOT NULL,
	[AnswerText] [nvarchar](2000) NULL,
	[Status] [nvarchar](255) NOT NULL,
	[CreatedAt] [date] NULL,
	[AnsweredAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consultant_unavailability]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consultant_unavailability](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[consultant_id] [int] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[createDate] [date] NULL,
	[status] [nvarchar](255) NULL,
	[start_time] [date] NULL,
	[end_time] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultants]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultants](
	[ConsultantID] [int] NOT NULL,
	[Biography] [nvarchar](1000) NULL,
	[Qualifications] [nvarchar](500) NULL,
	[ExperienceYears] [int] NULL,
	[Specialization] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultantSchedules]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultantSchedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ConsultantID] [int] NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[TimeSlotID] [int] NOT NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultations]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultations](
	[ConsultationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ConsultantID] [int] NOT NULL,
	[ConsultationDate] [date] NULL,
	[Status] [nvarchar](255) NOT NULL,
	[MeetingLink] [nvarchar](200) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ConsultantID] [int] NULL,
	[ServiceID] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[isRead] [bit] NOT NULL,
	[link] [nvarchar](255) NULL,
	[createdAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_otp]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_otp](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[otp_code] [nvarchar](255) NULL,
	[user_id] [int] NOT NULL,
	[expiry_date] [date] NULL,
	[otpCode] [nvarchar](255) NULL,
	[expiryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BookingID] [int] NULL,
	[ConsultationID] [int] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](255) NOT NULL,
	[PaymentStatus] [nvarchar](255) NOT NULL,
	[TransactionID] [nvarchar](100) NULL,
	[PaymentDate] [date] NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[user_id] [int] NOT NULL,
	[category] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[is_public] [bit] NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
	[isDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminders]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminders](
	[ReminderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ReminderType] [nvarchar](255) NOT NULL,
	[ReminderDate] [date] NULL,
	[Message] [nvarchar](200) NULL,
	[IsSent] [bit] NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReminderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportLogs]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportLogs](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[GeneratedBy] [int] NOT NULL,
	[GeneratedAt] [date] NULL,
	[ReportData] [nvarchar](max) NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestingServices]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestingServices](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](255) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
	[DurationMinutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotID] [int] IDENTITY(1,1) NOT NULL,
	[SlotNumber] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[StartTime] [date] NULL,
	[EndTime] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SlotNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionHistory]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionHistory](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[BookingID] [int] NOT NULL,
	[TransactionDate] [date] NULL,
	[Status] [nvarchar](255) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[RoleName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](200) NULL,
	[Gender] [nvarchar](20) NULL,
	[MedicalHistory] [nvarchar](1000) NULL,
	[CreatedAt] [date] NULL,
	[UpdatedAt] [date] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogPosts_AuthorID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlogPosts_AuthorID] ON [dbo].[BlogPosts]
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogPosts_CategoryID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_BlogPosts_CategoryID] ON [dbo].[BlogPosts]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_CustomerID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_CustomerID] ON [dbo].[Bookings]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_TimeSlotID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_TimeSlotID] ON [dbo].[Bookings]
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_CustomerID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_CustomerID] ON [dbo].[Chat]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultantSchedules_ConsultantID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConsultantSchedules_ConsultantID] ON [dbo].[ConsultantSchedules]
(
	[ConsultantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsultantSchedules_TimeSlotID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConsultantSchedules_TimeSlotID] ON [dbo].[ConsultantSchedules]
(
	[TimeSlotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultations_ConsultantID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consultations_ConsultantID] ON [dbo].[Consultations]
(
	[ConsultantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Consultations_CustomerID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Consultations_CustomerID] ON [dbo].[Consultations]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedback_CustomerID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Feedback_CustomerID] ON [dbo].[Feedback]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenstrualCycles_NextPredictedPeriod]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenstrualCycles_NextPredictedPeriod] ON [dbo].[MenstrualCycles]
(
	[NextPredictedPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenstrualCycles_UserID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenstrualCycles_UserID] ON [dbo].[MenstrualCycles]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenstrualCycles_UserID_StartDate]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenstrualCycles_UserID_StartDate] ON [dbo].[MenstrualCycles]
(
	[UserID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenstrualLogs_IsActualPeriod]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenstrualLogs_IsActualPeriod] ON [dbo].[MenstrualLogs]
(
	[IsActualPeriod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenstrualLogs_LogDate]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenstrualLogs_LogDate] ON [dbo].[MenstrualLogs]
(
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CustomerID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CustomerID] ON [dbo].[Payments]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Questions_Category]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_Category] ON [dbo].[Questions]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_IsPublic]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_IsPublic] ON [dbo].[Questions]
(
	[is_public] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Questions_Status]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_Status] ON [dbo].[Questions]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminders_UserID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reminders_UserID] ON [dbo].[Reminders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SymptomLogs_LogID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SymptomLogs_LogID] ON [dbo].[SymptomLogs]
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SymptomLogs_SymptomID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_SymptomLogs_SymptomID] ON [dbo].[SymptomLogs]
(
	[SymptomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Symptoms_Category]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Symptoms_Category] ON [dbo].[Symptoms]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionHistory_BookingID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransactionHistory_BookingID] ON [dbo].[TransactionHistory]
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionHistory_ServiceID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransactionHistory_ServiceID] ON [dbo].[TransactionHistory]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionHistory_UserID]    Script Date: 7/9/2025 10:32:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_TransactionHistory_UserID] ON [dbo].[TransactionHistory]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BlogCategories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[BlogPosts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Chat] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Consultants] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ConsultantSchedules] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Consultations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MenstrualCycles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MenstrualCycles] ADD  DEFAULT ((1)) FOR [IsRegular]
GO
ALTER TABLE [dbo].[MenstrualLogs] ADD  DEFAULT ((0)) FOR [IsActualPeriod]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [isRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [is_public]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT ((0)) FOR [IsSent]
GO
ALTER TABLE [dbo].[Reminders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ReportLogs] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SymptomLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Symptoms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Symptoms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TestingServices] ADD  DEFAULT ('inprogress') FOR [Status]
GO
ALTER TABLE [dbo].[TestingServices] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TransactionHistory] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Questions]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD  CONSTRAINT [FK_Answers_Users] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Answers] CHECK CONSTRAINT [FK_Answers_Users]
GO
ALTER TABLE [dbo].[BlogPost_Categories]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[BlogCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[BlogPost_Categories]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[BlogPosts] ([PostID])
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BlogPosts]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[BlogCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[TestingServices] ([ServiceID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TimeSlotID])
REFERENCES [dbo].[TimeSlots] ([TimeSlotID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_ConsultantSchedules] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[ConsultantSchedules] ([ScheduleID])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_ConsultantSchedules]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[consultant_unavailability]  WITH CHECK ADD  CONSTRAINT [FK_ConsultantUnavailability_Consultant] FOREIGN KEY([consultant_id])
REFERENCES [dbo].[Consultants] ([ConsultantID])
GO
ALTER TABLE [dbo].[consultant_unavailability] CHECK CONSTRAINT [FK_ConsultantUnavailability_Consultant]
GO
ALTER TABLE [dbo].[Consultants]  WITH CHECK ADD FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ConsultantSchedules]  WITH CHECK ADD FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Consultants] ([ConsultantID])
GO
ALTER TABLE [dbo].[ConsultantSchedules]  WITH CHECK ADD FOREIGN KEY([TimeSlotID])
REFERENCES [dbo].[TimeSlots] ([TimeSlotID])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ConsultantID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[TestingServices] ([ServiceID])
GO
ALTER TABLE [dbo].[MenstrualCycles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MenstrualLogs]  WITH CHECK ADD FOREIGN KEY([CycleID])
REFERENCES [dbo].[MenstrualCycles] ([CycleID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[password_reset_otp]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([ConsultationID])
REFERENCES [dbo].[Consultations] ([ConsultationID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Users]
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ReportLogs]  WITH CHECK ADD FOREIGN KEY([GeneratedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SymptomLogs]  WITH CHECK ADD  CONSTRAINT [FK_SymptomLogs_MenstrualLogs] FOREIGN KEY([LogID])
REFERENCES [dbo].[MenstrualLogs] ([LogID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SymptomLogs] CHECK CONSTRAINT [FK_SymptomLogs_MenstrualLogs]
GO
ALTER TABLE [dbo].[SymptomLogs]  WITH CHECK ADD  CONSTRAINT [FK_SymptomLogs_Symptoms] FOREIGN KEY([SymptomID])
REFERENCES [dbo].[Symptoms] ([SymptomID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SymptomLogs] CHECK CONSTRAINT [FK_SymptomLogs_Symptoms]
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[TestingServices] ([ServiceID])
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD CHECK  (([Status]='Closed' OR [Status]='Answered' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[ConsultantSchedules]  WITH CHECK ADD CHECK  (([Status]='Unavailable' OR [Status]='Booked' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[Consultations]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[MenstrualLogs]  WITH CHECK ADD  CONSTRAINT [CK_MenstrualLogs_FlowIntensity] CHECK  (([FlowIntensity]='VERY_HEAVY' OR [FlowIntensity]='HEAVY' OR [FlowIntensity]='MEDIUM' OR [FlowIntensity]='LIGHT' OR [FlowIntensity]='SPOTTING'))
GO
ALTER TABLE [dbo].[MenstrualLogs] CHECK CONSTRAINT [CK_MenstrualLogs_FlowIntensity]
GO
ALTER TABLE [dbo].[MenstrualLogs]  WITH CHECK ADD  CONSTRAINT [CK_MenstrualLogs_Mood] CHECK  (([Mood]='EMOTIONAL' OR [Mood]='STRESSED' OR [Mood]='TIRED' OR [Mood]='ENERGETIC' OR [Mood]='CALM' OR [Mood]='ANXIOUS' OR [Mood]='IRRITABLE' OR [Mood]='SAD' OR [Mood]='HAPPY'))
GO
ALTER TABLE [dbo].[MenstrualLogs] CHECK CONSTRAINT [CK_MenstrualLogs_Mood]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentMethod]='MobilePayment' OR [PaymentMethod]='Cash' OR [PaymentMethod]='BankTransfer' OR [PaymentMethod]='CreditCard'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([PaymentStatus]='Refunded' OR [PaymentStatus]='Failed' OR [PaymentStatus]='Completed' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[Reminders]  WITH CHECK ADD CHECK  (([ReminderType]='Fertility' OR [ReminderType]='Pill' OR [ReminderType]='Ovulation'))
GO
ALTER TABLE [dbo].[SymptomLogs]  WITH CHECK ADD  CONSTRAINT [CK_SymptomLogs_Severity] CHECK  (([Severity]='SEVERE' OR [Severity]='MODERATE' OR [Severity]='MILD'))
GO
ALTER TABLE [dbo].[SymptomLogs] CHECK CONSTRAINT [CK_SymptomLogs_Severity]
GO
ALTER TABLE [dbo].[TestingServices]  WITH CHECK ADD CHECK  (([Status]='haveresult' OR [Status]='inprogress'))
GO
ALTER TABLE [dbo].[TransactionHistory]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_RoleName] CHECK  (([roleName]='ROLE_GUEST' OR [roleName]='ROLE_CUSTOMER' OR [roleName]='ROLE_CONSULTANT' OR [roleName]='ROLE_STAFF' OR [roleName]='ROLE_MANAGER' OR [roleName]='ROLE_ADMIN'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_RoleName]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCycleStatistics]    Script Date: 7/9/2025 10:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Create a stored procedure for calculating cycle statistics
CREATE PROCEDURE [dbo].[sp_UpdateCycleStatistics]
    @UserID INT
AS
BEGIN
    DECLARE @AvgCycleLength FLOAT;
    DECLARE @AvgPeriodDuration FLOAT;

    -- Calculate average cycle length for the user
    SELECT @AvgCycleLength = AVG(CAST(CycleLength AS FLOAT))
    FROM MenstrualCycles
    WHERE UserID = @UserID AND CycleLength IS NOT NULL AND (IsDeleted = 0 OR IsDeleted IS NULL);

    -- Calculate average period duration for the user
    SELECT @AvgPeriodDuration = AVG(CAST(PeriodDuration AS FLOAT))
    FROM MenstrualCycles
    WHERE UserID = @UserID AND PeriodDuration IS NOT NULL AND (IsDeleted = 0 OR IsDeleted IS NULL);

    -- Update the most recent cycle record for this user
    UPDATE MenstrualCycles
    SET AverageCycleLength = @AvgCycleLength,
        AveragePeriodDuration = @AvgPeriodDuration,
        UpdatedAt = GETDATE()
    WHERE UserID = @UserID
        AND CycleID = (SELECT TOP 1 CycleID FROM MenstrualCycles WHERE UserID = @UserID ORDER BY StartDate DESC);
END;
GO
USE [master]
GO
